<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>662907451487-9o574gism7i0rsjeklaqqsnngc1o1vnm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.662907451487-9o574gism7i0rsjeklaqqsnngc1o1vnm</string>
	<key>API_KEY</key>
	<string>AIzaSyA4U2ojSRolZGw_3vfZ9h8oe0FusUsXY9k</string>
	<key>GCM_SENDER_ID</key>
	<string>662907451487</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myflutter.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>my-first-flutter-6a090</string>
	<key>STORAGE_BUCKET</key>
	<string>my-first-flutter-6a090.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:662907451487:ios:3e9a17306001ff769b83ea</string>
</dict>
</plist>